@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --green: #A2C38A;
    --red: #BB1B1B;
    --pink: #E89C9E;
    --yellow: #F4BA2D;
    --white: #FFFCF3;

}

body {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: normal;
    background-color: var(--green);
}

.start-box {
    color: var(--white);
    text-align: center;

}

.chat-box {
    background-color: var(--red);
    border-radius: 20px;
    color: var(--white);
    padding: 1rem;
    text-align: center;
    margin-top: 1rem;
}

.logo {
    height: 150px;
}

label {
    display: block;
    color: var(--white)
}

div#chat {
    min-height: 5rem;
    background-color: lightcoral;
    color: white;
    margin: 2rem 0;
    padding: 1rem;
    border: 1px dotted #eee;
}

form {
    margin: 1rem 0
}

.hidden {
    display: none;
}

input {
    padding: .5rem
}

canvas {
    border: 1px solid wheat;
    border-radius: 20px;
    background-color: var(--white);
    text-align: center;
    display: block;
    margin: 0 auto;
}

#drawingcanvas {
    border:1px solid black;
}

.sucess-btn {
    color: white;
    background-color: lightgreen;
    padding: 1rem;
    font-size: 14px;
    font-weight: 800;
    border-radius: 6px;
    border-color: wheat;
}

.submitGuess-btn {
    color: var(--yellow);
    background-color: var(#BB1B1B);
    padding: 1rem;
    font-size: 14px;
    font-weight: 800;
    border-radius: 6px;
    border-color: wheat;
}